<h1>Show For Da Employees!</h1>

<img src=<%=@employee.img_url%> alt="Hey"><br>
NAME: <%= @employee.to_s %><br>
ALIAS:<%= @employee.alias %><br>
TITLE:<%= @employee.title %><br>
OFFICE:<%= @employee.office %>
<!-- IMAGE_URL:<%= @employee.title %> -->
