<h1>EMPLOYEE SHOW PAGE</h1>
 <h2>Name:<%= @employee.to_s %></h2>
Alias: <p><%= @employee.alias %></p>
Title: <p><%= @employee.title %></p>
Office: <p><%= @employee.office %></p>

<img src=<%=@employee.img_url%> alt="Hey">
