<h1> Employee Page </h1>

<%= @employee.first_name %><br>
<%= @employee.last_name %><br>
<%= @employee.alias %><br>
<%= @employee.title %><br>
<%= @employee.office %><br>
<%= @employee.dog.name %><br>
<img src="<%= @employee.img_url %>" alt="Employee Picture">
