<h1>D O G S ! ! ! </h1>
<ul>
  <% @dogs.each do |dog| %>
    <li><%= link_to dog.name, dog %></li>
  <% end %>
</ul>
<%= form_tag dogs_path, method: :get do %>
  <%= hidden_field_tag 'sort', '' %>
  <%= submit_tag 'Sort' %>
<% end %>
<%= button_to 'Create', {action: 'new'}, method: :get %>
